@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5E6D3; /* hampi-parchment */
  color: #2D2D2D;
  font-family: 'Merriweather', serif;
  background-image: radial-gradient(#8B7355 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}